= link_to 'link', @listing.url

%h3
  = @listing.title

%h3
  = @listing.search_term.value

%h4
  = @listing.company

%p
  = @listing.sentiment_score

- @listing.sorted_words.each do |word, word_occurance|
  %p
    = "#{word} : #{word_occurance}"
